<form [formGroup]="form" ngNativeValidate (ngSubmit)="searchInsurances(f)">
    <div class="form-group">
        <input  name="name" type="text" class="form-control" placeholder="Name" formControlName="name">
    </div>

    <div class="form-group">
        <label>Company</label>
        <select name="company" class="form-control" formControlName="company">
          <option value="" selected>Select a Company</option>
          <option *ngFor="let company of Companies" [value]="company">
            {{ company }}
          </option>
        </select>
    </div>

    <div class="form-group">
        <label>Kind</label>
        <select name="kind" class="form-control"  formControlName="kind">
          <option value="" selected>Select a Kind</option>
          <option *ngFor="let kind of Kinds" [value]="kind">
            {{ kind }}
          </option>
        </select>
    </div>

    <button type="submit" class="btn btn-success waves-effect waves-light btn-block ">Search
        <i class="fa fa-search"></i>
      </button>

</form>